body {
    background-color: #005678;
    color: #d1f7ff;
}

.navbar-custom {
    background-color: #01012b;
}

.navbar-custom .navbar-brand {
    color: #fcee09;
}

.navbar-custom li a {
    color: #05d9e8;
}

.navbar-custom li a:hover,
.navbar-custom li a:focus,
.navbar-custom li a:active {
    color: #d1f7ff;
}

.navbar-custom .navbar-toggler {
    border-color: #05d9e8;
    border-radius: 0;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5,217,232, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn {
    color: #05d9e8;
    border-color: #05d9e8;
    background-color: #01012b;
    border-radius: 0;
}

.btn:hover,
.btn:active {
    color: #01012b;
    border-color: #01012b;
    background-color: #fcee09;
}

.btn:active {
    border-radius: 15%;
}

.form-control,
.form-control:focus {
    color: #d1f7ff;
    border-color: #01012b;
    background-color: #005678;
}

input[type=file]::file-selector-button {
    background-color: #d1f7ff;
}

.input-group-text {
    color: #01012b;
    border-color: #01012b;
    background-color: #d1f7ff;
}
.img-thumbnail.ads {
    background-color: #01012b;
    border-color: #01012b;
    max-height: 300px;
}

.img-thumbnail.screenshot {
    background-color: #01012b;
    border-color: #01012b;
    padding: .1rem;
}

.a-custom:link,
.a-custom:visited {
    color: #05d9e8;
    text-decoration: none;
}

.a-custom:hover,
.a-custom:active {
    color: #05d9e8;
    text-decoration: underline;
}

.form-text {
    color: #fcee09;
}

.text-justify {
    text-indent: 2rem;
    text-align: justify;
}

hr {
    border-top:1px dotted #01012b;
}

textarea {
    resize: none;
}

.valid {
    color: #1bd677;
}

.invalid {
    color: #ff003c;
}

.form-custom {
    color: #d1f7ff;
    background-color: #01012b;
}

.border {
    border: 2px solid #01012b!important
}